p {color:#FFE504;
font-size: 17px;

font-family: times new roman;

font-style:italic;

border: 4px solid #00fff5;

}

p {

background-color: #00fff5;

}

h1 { border: 4px solid #00fff5;
}

h1 {background-color: #00fff5;
}

h1 {color:#FF00E1;
}

h2 {color:#00fff5;
}

background-color: p {color:#00fff5;

font-size: 17px;

font-family: times new roman;

font-style:italic;

border: 4px solid #00fff5;

}

p {

background-image: linear-gradient(#fff700, #00fffb);
color:#FF00E1

}
                                !--red=#FE0707;--   !--yellow=FFE504--
h1 { border: 4px solid #00fff5;
}

h1 {background-color: black;
}

h1 {background-image: linear-gradient(#fff700, #00fffb);
}

h2 {color:#00fff5;
}
body{
background-color: black;
}

p{
font-weight:bold;
}

p {color:#FFE504;
}
